$primary-green: #006D5B;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.partner-section {
  padding: 24px 0 0;
  background-color: #fff;
  font-family: 'Poppins', sans-serif;

  .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 24px;
    text-align: center;
  }

  .partner-title {
    font-size: 24px;
    font-weight: 500;
    color: #000;
    margin-bottom: 24px;
  }

  .marquee-container {
    background-color: $primary-green;
    padding: 25px 0;
    overflow: hidden; // Kənara çıxan loqoları gizlədir
    display: flex;
    .marquee-track {
      display: flex;
      align-items: center;
      gap: 80px; // Loqolar arası məsafə
      width: max-content;
      animation: scroll 30s linear infinite; // 30 saniyəlik sonsuz dövr
    //   background: red;
      justify-content: center;
    }

    .marquee-item {
        display: flex;
      img {
        height: 35px; // Loqoların hündürlüyü
        width: auto;
        object-fit: cover;
      }
    }
  }
}

// Sonsuz hərəkət animasiyası
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); // Yarısına çatanda təkrar başa qayıdır
  }
}

// Responsive
@media (max-width: 768px) {
  .partner-title {
    font-size: 18px;
    padding: 0 15px;
  }

  .marquee-track {
    gap: 40px;
    animation: scroll 20s linear infinite; // Mobildə bir az sürətli
  }

  .marquee-item img {
    height: 25px;
  }
}
